---
import Layout from "@/layouts/Layout.astro";

import SignInForm from "@/features/auth/sign-in/SignInForm.astro";
---

<Layout title="Sign In">
  <main class="container">
    <SignInForm />
  </main>
</Layout>
