:root {
  --amber-50: hsl(48 100% 96.1%);
  --amber-100: hsl(48 96.5% 88.8%);
  --amber-200: hsl(48 96.6% 76.7%);
  --amber-300: hsl(45.9 96.7% 64.5%);
  --amber-400: hsl(43.3 96.4% 56.3%);
  --amber-500: hsl(37.7 92.1% 50.2%);
  --amber-600: hsl(32.1 94.6% 43.7%);
  --amber-700: hsl(26 90.5% 37.1%);
  --amber-800: hsl(22.7 82.5% 31.4%);
  --amber-900: hsl(21.7 77.8% 26.5%);
  --amber-950: hsl(20.9 91.7% 14.1%);
}
