:root {
  --blue-50: hsl(213.8 100% 96.9%);
  --blue-100: hsl(214.3 94.6% 92.7%);
  --blue-200: hsl(213.3 96.9% 87.3%);
  --blue-300: hsl(211.7 96.4% 78.4%);
  --blue-400: hsl(213.1 93.9% 67.8%);
  --blue-500: hsl(217.2 91.2% 59.8%);
  --blue-600: hsl(221.2 83.2% 53.3%);
  --blue-700: hsl(224.3 76.3% 48%);
  --blue-800: hsl(225.9 70.7% 40.2%);
  --blue-900: hsl(224.4 64.3% 32.9%);
  --blue-950: hsl(226.2 57% 21%);
}
