:root {
  --cyan-50: hsl(183.2 100% 96.3%);
  --cyan-100: hsl(185.1 95.9% 90.4%);
  --cyan-200: hsl(186.2 93.5% 81.8%);
  --cyan-300: hsl(187 92.4% 69%);
  --cyan-400: hsl(187.9 85.7% 53.3%);
  --cyan-500: hsl(188.7 94.5% 42.7%);
  --cyan-600: hsl(191.6 91.4% 36.5%);
  --cyan-700: hsl(192.9 82.3% 31%);
  --cyan-800: hsl(194.4 69.6% 27.1%);
  --cyan-900: hsl(196.4 63.6% 23.7%);
  --cyan-950: hsl(197 78.9% 14.9%);
}
