:root {
  --emerald-50: hsl(151.8 81% 95.9%);
  --emerald-100: hsl(149.3 80.4% 90%);
  --emerald-200: hsl(152.4 76% 80.4%);
  --emerald-300: hsl(156.2 71.6% 66.9%);
  --emerald-400: hsl(158.1 64.4% 51.6%);
  --emerald-500: hsl(160.1 84.1% 39.4%);
  --emerald-600: hsl(161.4 93.5% 30.4%);
  --emerald-700: hsl(162.9 93.5% 24.3%);
  --emerald-800: hsl(163.1 88.1% 19.8%);
  --emerald-900: hsl(164.2 85.7% 16.5%);
  --emerald-950: hsl(165.7 91.3% 9%);
}
