:root {
  --fuchsia-50: hsl(289.1 100% 97.8%);
  --fuchsia-100: hsl(287 100% 95.5%);
  --fuchsia-200: hsl(288.3 95.8% 90.6%);
  --fuchsia-300: hsl(291.1 93.1% 82.9%);
  --fuchsia-400: hsl(292 91.4% 72.5%);
  --fuchsia-500: hsl(292.2 84.1% 60.6%);
  --fuchsia-600: hsl(293.4 69.5% 48.8%);
  --fuchsia-700: hsl(294.7 72.4% 39.8%);
  --fuchsia-800: hsl(295.4 70.2% 32.9%);
  --fuchsia-900: hsl(296.7 63.6% 28%);
  --fuchsia-950: hsl(296.8 90.2% 16.1%);
}
