:root {
  --green-50: hsl(138.5 76.5% 96.7%);
  --green-100: hsl(140.6 84.2% 92.5%);
  --green-200: hsl(141 78.9% 85.1%);
  --green-300: hsl(141.7 76.6% 73.1%);
  --green-400: hsl(141.9 69.2% 58%);
  --green-500: hsl(142.1 70.6% 45.3%);
  --green-600: hsl(142.1 76.2% 36.3%);
  --green-700: hsl(142.4 71.8% 29.2%);
  --green-800: hsl(142.8 64.2% 24.1%);
  --green-900: hsl(143.8 61.2% 20.2%);
  --green-950: hsl(144.9 80.4% 10%);
}
