:root {
  --indigo-50: hsl(225.9 100% 96.7%);
  --indigo-100: hsl(226.5 100% 93.9%);
  --indigo-200: hsl(228 96.5% 88.8%);
  --indigo-300: hsl(229.7 93.5% 81.8%);
  --indigo-400: hsl(234.5 89.5% 73.9%);
  --indigo-500: hsl(238.7 83.5% 66.7%);
  --indigo-600: hsl(243.4 75.4% 58.6%);
  --indigo-700: hsl(244.5 57.9% 50.6%);
  --indigo-800: hsl(243.7 54.5% 41.4%);
  --indigo-900: hsl(242.2 47.4% 34.3%);
  --indigo-950: hsl(243.8 47.1% 20%);
}
