:root {
  --lime-50: hsl(78.3 92% 95.1%);
  --lime-100: hsl(79.6 89.1% 89.2%);
  --lime-200: hsl(80.9 88.5% 79.6%);
  --lime-300: hsl(82 84.5% 67.1%);
  --lime-400: hsl(82.7 78% 55.5%);
  --lime-500: hsl(83.7 80.5% 44.3%);
  --lime-600: hsl(84.8 85.2% 34.5%);
  --lime-700: hsl(85.9 78.4% 27.3%);
  --lime-800: hsl(86.3 69% 22.7%);
  --lime-900: hsl(87.6 61.2% 20.2%);
  --lime-950: hsl(89.3 80.4% 10%);
}
