:root {
  --pink-50: hsl(327.3 73.3% 97.1%);
  --pink-100: hsl(325.7 77.8% 94.7%);
  --pink-200: hsl(325.9 84.6% 89.8%);
  --pink-300: hsl(327.4 87.1% 81.8%);
  --pink-400: hsl(328.6 85.5% 70.2%);
  --pink-500: hsl(330.4 81.2% 60.4%);
  --pink-600: hsl(333.3 71.4% 50.6%);
  --pink-700: hsl(335.1 77.6% 42%);
  --pink-800: hsl(335.8 74.4% 35.3%);
  --pink-900: hsl(335.9 69% 30.4%);
  --pink-950: hsl(336.2 83.9% 17.1%);
}
