:root {
  --purple-50: hsl(270 100% 98%);
  --purple-100: hsl(268.7 100% 95.5%);
  --purple-200: hsl(268.6 100% 91.8%);
  --purple-300: hsl(269.2 97.4% 85.1%);
  --purple-400: hsl(270 95.2% 75.3%);
  --purple-500: hsl(270.7 91% 65.1%);
  --purple-600: hsl(272.1 71.7% 47.1%);
  --purple-700: hsl(272.1 71.7% 47.1%);
  --purple-800: hsl(272.9 67.2% 39.4%);
  --purple-900: hsl(273.6 65.6% 32%);
  --purple-950: hsl(273.5 86.9% 21%);
}
