:root {
  --rose-50: hsl(355.7 100% 97.3%);
  --rose-100: hsl(355.6 100% 94.7%);
  --rose-200: hsl(352.7 96.1% 90%);
  --rose-300: hsl(352.6 95.7% 81.8%);
  --rose-400: hsl(351.3 94.5% 71.4%);
  --rose-500: hsl(349.7 89.2% 60.2%);
  --rose-600: hsl(346.8 77.2% 49.8%);
  --rose-700: hsl(345.3 82.7% 40.8%);
  --rose-800: hsl(343.4 79.7% 34.7%);
  --rose-900: hsl(341.5 75.5% 30.4%);
  --rose-950: hsl(343.1 87.7% 15.9%);
}
