:root {
  --teal-50: hsl(166.2 76.5% 96.7%);
  --teal-100: hsl(167.2 85.5% 89.2%);
  --teal-200: hsl(168.4 83.8% 78.2%);
  --teal-300: hsl(170.6 76.9% 64.3%);
  --teal-400: hsl(172.5 66% 50.4%);
  --teal-500: hsl(173.4 80.4% 40%);
  --teal-600: hsl(174.7 83.9% 31.6%);
  --teal-700: hsl(175.3 77.4% 26.1%);
  --teal-800: hsl(176.1 69.4% 21.8%);
  --teal-900: hsl(175.9 60.8% 19%);
  --teal-950: hsl(178.6 84.3% 10%);
}
