:root {
  --violet-50: hsl(250 100% 97.6%);
  --violet-100: hsl(251.4 91.3% 95.5%);
  --violet-200: hsl(250.5 95.2% 91.8%);
  --violet-300: hsl(252.5 94.7% 85.1%);
  --violet-400: hsl(255.1 91.7% 76.3%);
  --violet-500: hsl(258.3 89.5% 66.3%);
  --violet-600: hsl(262.1 83.3% 57.8%);
  --violet-700: hsl(263.4 70% 50.4%);
  --violet-800: hsl(263.4 69.3% 42.2%);
  --violet-900: hsl(263.5 67.4% 34.9%);
  --violet-950: hsl(261.2 72.6% 22.9%);
}
